

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
 body {
 	background: rgba(46, 109, 164, 0.32);
 }

.container#main_cont {
	padding-top: 35px;
}

.calculator {
    /*cursor: move;*/
	padding:0;
	padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    max-height: 650px;
    width: 300px;
    height: 450px;
	background: #ececec;
    border-radius: 4px;
 	box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.19);
    resize: both;
    overflow: hidden;
}

.entry_result_box {
	height: 25%;
}

.entry_field {
	height: 50%;
}

.result_box {
	height: 50%;
	background: #ddd;
    font-size: 20pt;
    text-align: right;
    padding: 3% 5% 0 0px;
}

.calculator_buttons_block {
    height: 75%;
    margin: 2% 1.3% 0% 1%;
    color: white;
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}

.calc_button_row {
	height: 20%;
}

.calc_button_container {
	padding: 0;
	width: 25%;
	height: 100%;	
	float: left;
}

.calc_button {
    cursor: pointer;
    width: 92%;
    height: 92%;
    line-height: 184%;
    background: #d6d6d6;
    margin: 4% 4% 4% 4%;
    border-radius: 2px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.17);
    text-align: center;
    transition: width 0.2s, box-shadow 0.2s, height 0.2s, background 0.2s, margin 0.2s;
}

.calc_button.half {
	width: 44%;
	line-height: 165%; 
	float: left;
}

.half.left {
	margin-right: 2%;
}

.half.right {
	margin-left: 2%;
}

.calc_button.first {
	margin: 4% 4% 4% 8%;
	width: 88%
}

.calc_button.last {
	margin: 4% 8% 4% 4%;
	width: 88%
}

.calc_button:hover {
    background: rgba(46, 109, 164, 0.3);
    margin: 2% 4% 4% 2%;
    width: 94%;
    height: 94%;
    transition: width 0.2s, box-shadow 0.2s, height 0.2s, background 0.2s, margin 0.2s;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.31);
}

.calc_button:active {
    width: 92%;
    height: 92%;
    background: #b3b3b3;
    margin: 4% 4% 4% 4%;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.45);
}

.calc_button.left:hover {
	margin: 2% 2% 2% 2%;
	width: 46%;
    height: 94%;
}

.calc_button.right:hover {
	margin: 2% 2% 2% 2%;
	width: 46%;
    height: 94%;
}

.calc_button.right:active {
	margin: 4% 2% 2% 2%;
	width: 44%;
    height: 92%;
}

.calc_button.left:active {
	margin: 4% 2% 2% 4%;
	width: 44%;
    height: 92%;
}

.calc_icon {
	width: 50%;
	height: 50%;
}

.entry_field .form-group {
	height: 100%;
}

.calc_input {
	height: 100%;
	border-radius: 0;
	font-size: 20pt;
    border-radius: 5px 5px 0px 0px;
    border: none;
        box-shadow: inset 0px -9px 11px -11px rgba(0, 0, 0, 0.55);
}

.calc_button {
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer */
   -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

.func_row .calc_button {
    background: #c7c7c7;
}

.calc_button.last {
    background: #c7c7c7;
}

.calc_button.AC {
    background: rgba(218, 0, 0, 0.31);
}

.calc_button.equal_button {
    background: rgba(2, 103, 2, 0.33);
}

.calc_button.del {
    background: rgba(239, 176, 62, 0.62);
}


